This dataset contains country-level data from the **World Happiness Report** (https://worldhappiness.report/data-sharing/), aimed at explaining the key factors contributing to a nation's happiness. Each variable represents a component that influences a country's average **Happiness Score**, which is the target variable in this analysis.

### Dataset Features:

- **Log GDP per capita**  
  Represents the gross domestic product per person, adjusted for Purchasing Power Parity (PPP) and expressed in constant 2017 international dollars. This reflects the average standard of living in each country.  
  *Range: ~0 to $80,000 USD*

- **Social Support**  
  Measures the percentage of people who report having someone they can count on in times of trouble (e.g., family, friends).  
  *Range: 0% to 100%*

- **Healthy Life Expectancy**  
  Average number of years a person can expect to live in good health, based on WHO estimates.  
  *Unit: years*

- **Freedom to Make Life Choices**  
  Indicates the percentage of people who feel they have freedom in making life decisions.  
  *Range: 0% to 100%*

- **Generosity**  
  Captures the share of people who reported donating to charity in the past month — a proxy for altruism.  
  *Range: 0% to 70%*

- **Perceptions of Corruption**  
  An index based on survey responses to questions about the perceived level of corruption in government and business. If government data is unavailable, only business perception is used.  
  *Range: 0% to 100%*

- **Dystopia + Residual**

In [1]:
import pandas as pd

### Load the World Happiness Report dataset

In [3]:
happiness_df = pd.read_csv("../data/World Happiness Report.csv")

### Filter the dataset for years between 2020 and 2024

In [4]:
happiness_df = happiness_df[(happiness_df["Year"] >= 2020) & (happiness_df["Year"] <= 2024)]
happiness_df

,Year,Rank,Country name,life evaluation,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2024,1,Finland,"7,736","7,810","7,662","1,749","1,783","0,824","0,986","0,110","0,502","1,782"
1,2024,2,Denmark,"7,521","7,611","7,431","1,825","1,748","0,820","0,955","0,150","0,488","1,535"
2,2024,3,Iceland,"7,515","7,606","7,425","1,799","1,840","0,873","0,971","0,201","0,173","1,659"
3,2024,4,Sweden,"7,345","7,427","7,262","1,783","1,698","0,889","0,952","0,170","0,467","1,385"
4,2024,5,Netherlands,"7,306","7,372","7,240","1,822","1,667","0,844","0,860","0,186","0,344","1,583"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2020,146,Lesotho,"3,512","3,748","3,276","0,451","0,731","0,007","0,405","0,103","0,015","1,800"
718,2020,147,Botswana,"3,467","3,611","3,322","1,099","0,724","0,340","0,539","0,027","0,088","0,648"
719,2020,148,Rwanda,"3,415","3,548","3,282","0,364","0,202","0,407","0,627","0,227","0,493","1,095"
720,2020,149,Zimbabwe,"3,145","3,259","3,030","0,457","0,649","0,243","0,359","0,157","0,075","1,205"
721,2020,150,Afghanistan,"2,523","2,596","2,449","0,370","0,000","0,126","0,000","0,122","0,010","1,895"

### Display dataset information

In [5]:
happiness_df.info()

print(f"Dataset shape: {happiness_df.shape}")

<class 'pandas.core.frame.DataFrame'>
Index: 722 entries, 0 to 721
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Year                                        722 non-null    int64
 1   Rank                                        722 non-null    int64
 2   Country name                                722 non-null    object
 3   life evaluation                             722 non-null    object
 4   upperwhisker                                722 non-null    object
 5   lowerwhisker                                722 non-null    object
 6   Explained by: Log GDP per capita            719 non-null    object
 7   Explained by: Social support                719 non-null    object
 8   Explained by: Healthy life expectancy       717 non-null    object
 9   Explained by: Freedom to make life choices  718 non-null    object
 10  Explained by: Generosity                    719 non-null    object
 11  Explained by: Perceptions of corruption     718 non-null    object
 12  Dystopia + residual                         715 non-null    object
dtypes: int64(2), object(11)
memory usage: 79.0+ KB
Dataset shape: (722, 13)

### Convert numeric columns from object to float

In [6]:
for col in happiness_df.columns:
    if col not in ['Country name', 'Year']:
        happiness_df[col] = happiness_df[col].astype(str).str.replace(',', '.').str.strip()
        happiness_df[col] = pd.to_numeric(happiness_df[col], errors='coerce')  # Convert errors to NaN

# Check updated data types
print(happiness_df.dtypes)

Year                                            int64
Rank                                            int64
Country name                                   object
life evaluation                               float64
upperwhisker                                  float64
lowerwhisker                                  float64
Explained by: Log GDP per capita              float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia + residual                           float64
dtype: object

### Rename columns for clarity

In [7]:
happiness_df = happiness_df.rename(columns={
    'Country name': 'Country',
    'Explained by: Log GDP per capita': 'GDP',
    'Explained by: Social support': 'SocialSupport',
    'Explained by: Healthy life expectancy': 'LifeExpectancy',
    'Explained by: Freedom to make life choices': 'Freedom',
    'Explained by: Generosity': 'Generosity',
    'Explained by: Perceptions of corruption': 'Corruption',
    'life evaluation': 'HappinessScore'
})
happiness_df

,Year,Rank,Country,HappinessScore,upperwhisker,lowerwhisker,GDP,SocialSupport,LifeExpectancy,Freedom,Generosity,Corruption,Dystopia + residual
0,2024,1,Finland,7.736,7.810,7.662,1.749,1.783,0.824,0.986,0.110,0.502,1.782
1,2024,2,Denmark,7.521,7.611,7.431,1.825,1.748,0.820,0.955,0.150,0.488,1.535
2,2024,3,Iceland,7.515,7.606,7.425,1.799,1.840,0.873,0.971,0.201,0.173,1.659
3,2024,4,Sweden,7.345,7.427,7.262,1.783,1.698,0.889,0.952,0.170,0.467,1.385
4,2024,5,Netherlands,7.306,7.372,7.240,1.822,1.667,0.844,0.860,0.186,0.344,1.583
...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2020,146,Lesotho,3.512,3.748,3.276,0.451,0.731,0.007,0.405,0.103,0.015,1.800
718,2020,147,Botswana,3.467,3.611,3.322,1.099,0.724,0.340,0.539,0.027,0.088,0.648
719,2020,148,Rwanda,3.415,3.548,3.282,0.364,0.202,0.407,0.627,0.227,0.493,1.095
720,2020,149,Zimbabwe,3.145,3.259,3.030,0.457,0.649,0.243,0.359,0.157,0.075,1.205
721,2020,150,Afghanistan,2.523,2.596,2.449,0.370,0.000,0.126,0.000,0.122,0.010,1.895

### Check for duplicate rows

In [8]:
print(f"Number of duplicated rows: {happiness_df.duplicated().sum()}")

Number of duplicated rows: 0

### Check for outliers in the HappinessScore

In [9]:
happiness_df[happiness_df["HappinessScore"] < 0]  # Negative values
happiness_df[happiness_df["HappinessScore"] > 10]  # Values above 10

Empty DataFrame
Columns: [Year, Rank, Country, HappinessScore, upperwhisker, lowerwhisker, GDP, SocialSupport, LifeExpectancy, Freedom, Generosity, Corruption, Dystopia + residual]
Index: []

### Check for missing values

In [10]:
print(happiness_df.isnull().sum())

Year                   0
Rank                   0
Country                0
HappinessScore         0
upperwhisker           0
lowerwhisker           0
GDP                    3
SocialSupport          3
LifeExpectancy         5
Freedom                4
Generosity             3
Corruption             4
Dystopia + residual    7
dtype: int64

In [11]:
def fillna_with_local_mean(df, columns, window=10):

    """
    Fill missing values (NaN) in specified columns using the mean value 
    within a window of cells above and below each missing value.

    Parameters:
    df (pd.DataFrame): Input DataFrame with missing values.
    columns (list): List of column names to fill missing values in.
    window (int): Number of cells above and below to consider (default is 10).

    Returns:
    pd.DataFrame: DataFrame with filled missing values.
    """

    df = df.copy()
    for col in columns:
        for i in range(len(df)):
            if pd.isnull(df.loc[i, col]) or pd.isna(df.loc[i, col]):
                # Define window boundaries
                start = max(0, i - window)
                end = min(len(df), i + window + 1)
                
                # Extract window values and drop NaN
                window_vals = df.loc[start:end, col].dropna()
                
                if len(window_vals) > 0:
                    df.loc[i, col] = window_vals.mean()
    return df

# Identify columns with missing values
columns_with_na = happiness_df.columns[happiness_df.isnull().any()].tolist()

# Fill missing values
happiness_df = fillna_with_local_mean(happiness_df, columns_with_na)
happiness_df

,Year,Rank,Country,HappinessScore,upperwhisker,lowerwhisker,GDP,SocialSupport,LifeExpectancy,Freedom,Generosity,Corruption,Dystopia + residual
0,2024,1,Finland,7.736,7.810,7.662,1.749,1.783,0.824,0.986,0.110,0.502,1.782
1,2024,2,Denmark,7.521,7.611,7.431,1.825,1.748,0.820,0.955,0.150,0.488,1.535
2,2024,3,Iceland,7.515,7.606,7.425,1.799,1.840,0.873,0.971,0.201,0.173,1.659
3,2024,4,Sweden,7.345,7.427,7.262,1.783,1.698,0.889,0.952,0.170,0.467,1.385
4,2024,5,Netherlands,7.306,7.372,7.240,1.822,1.667,0.844,0.860,0.186,0.344,1.583
...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2020,146,Lesotho,3.512,3.748,3.276,0.451,0.731,0.007,0.405,0.103,0.015,1.800
718,2020,147,Botswana,3.467,3.611,3.322,1.099,0.724,0.340,0.539,0.027,0.088,0.648
719,2020,148,Rwanda,3.415,3.548,3.282,0.364,0.202,0.407,0.627,0.227,0.493,1.095
720,2020,149,Zimbabwe,3.145,3.259,3.030,0.457,0.649,0.243,0.359,0.157,0.075,1.205
721,2020,150,Afghanistan,2.523,2.596,2.449,0.370,0.000,0.126,0.000,0.122,0.010,1.895

### Verify no missing values remain

In [12]:
print(happiness_df.isnull().sum())

Year                   0
Rank                   0
Country                0
HappinessScore         0
upperwhisker           0
lowerwhisker           0
GDP                    0
SocialSupport          0
LifeExpectancy         0
Freedom                0
Generosity             0
Corruption             0
Dystopia + residual    0
dtype: int64

In [13]:
happiness_df = happiness_df[~happiness_df["Country"].isin(["Russia", "Russian Federation"])] # Remove rows related to russia

### Save the cleaned dataset

In [14]:
happiness_df.to_csv("../data/happiness_data.csv", index=False)

print("File successfully saved!")

File successfully saved!